body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.results-container {
    margin-top: 20px;
}

.recipe-card {
    background-color: #fafafa;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: left;
}

.recipe-card img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

.recipe-card-content {
    flex-grow: 1;
}

.recipe-card h2 {
    margin: 0 0 10px;
    color: #333;
}

.recipe-card p {
    margin: 5px 0;
}

.recipe-card .button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.recipe-card .button:hover {
    background-color: #0056b3;
}
